body{
    background-image:url(../images/cinema.jpg) ;
    background-size: cover;
    background-position:top;
    font-family:sans-serif;
}
h1{
    color: white;
}
ul{
    list-style-type: disc;
}
h2{
    color: yellowgreen;
    list-style: none;
    font-size: 25px;
    display: inline;
}
ol{
    color: white;
    list-style: upper-latin;
}
